/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
   
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  

  

 
  

  
  
  .header {
    background-color: #f44336;
    padding: 40px 40px;
    color: white;
    text-align: center;
    margin: 0 auto;

  }
  
 

  
 
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    
    
  }
  
 
  .addBtn {
    padding-bottom: 15px;
    padding: 8.5px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    
  }
  




    
    .checkbox_cont{ 
       
        
        margin: 0 auto;}

.checkbox { 
    width: 50px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 10px;
    align-items: flex-end;
    
    

}

.ch{
    margin-bottom: 15px;
}

.yes{
   height: 15px;
    width: 20px;



}
.promo__interactive-item{
    display: flex;
}



.delete {
    content: '';
    display: block;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
   
    cursor: pointer;
}
